<script props>
  module.exports = {
    type: {
      info: 'bg-[#F4FAF8] text-blue-600 border-[#89C3AF]',
      warning: 'bg-amber-100 text-amber-600',
      danger: 'bg-[#FEF6F9] text-rose-600 border-[#DE1B3B]',
    }[props.type] || 'bg-blue-100 text-blue-600'
  }
</script>

<table class="w-full mb-8">
  <tr>
    <td attributes class="py-3 px-4 border-2 border-solid rounded-lg text-center {{ type }}">
      <table class="w-full">
        <tr>
          <td class="p-5 pb-8">
            <if condition="role !== 'undefined'"><img src="https://via.placeholder.com/50x50?text=ok" /></if>
          </td>
        </tr>
        <tr>
          <td class="pb-4">
            <div class="text-lg font-bold text-gray-900"><content></content></div>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
