<table class="w-full mb-8 text-gray-500 text-sm">
    <tr>
        <td>
            **Please do not reply to this e-mail. This message was sent to you using an automated system. This email address is not monitored for replies** 
            Confidentiality Notice: This communication contains information intended for the use of the individuals to whom it is address and may contain information that is privileged, confidential or exempt from disclosure under applicable law. If you are not the intended recipient, you are notified that any disclosure, printing, copying, distribution or use of the contents is prohibited. If you have received this in error, please notify the sender immediately by telephone or by returning it by return mail and then permanently delete the communication from your system. Thank you.
        </td>
    </tr>
</table>